{% extends "base.html" %}

{% block head_extra %}
<link rel="stylesheet" href="static/css/login.css">
{% endblock %}

{% block body %}
<div class="boxwrapper">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post" novalidate>
        <p>
            {{ html_form.hidden_tag() }}
            <br>
            {{ html_form.username.label }}:
            {{ html_form.username(size=20) }}
            {% for error in html_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ html_form.password.label }}:
            {{ html_form.password(size=20) }}
            {% for error in html_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ html_form.remember() }} {{ html_form.remember.label }}
            <br>
            {{ html_form.submit() }}
            <span style="margin-left: 10px">No account? <a href="{{ url_for('register') }}">Create new one</a></span>
        </p>
</form>
</div>
{% endblock %}